.companyNumContainer {
  border-top: 1px solid #333333;
  display: flex;
  flex-direction: column;
}

.companyNumbers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1000px;
  align-self: center;
}

.benchmarkGroup {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}

.benchmarkCategory {
  color: #4b4a4a;
  font-family: Comfortaa, sans-serif;
  font-size: calc(1.2vw + 1.2vh);
  border-bottom: 1px solid #19a0ff;
  padding-bottom: 10px;
}

.benchmarkNumber {
  font-family: Comfortaa, sans-serif;
  font-size: calc(1.8vw + 1.8vh);
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #dddddd;
}

.benchmarkNumber:before {
  content: "\002B";
  font-size: calc(1.8vw + 1vh);
  margin-right: 4px;
}
