.menuNavigationDiv {
  display: grid;
  grid-template-columns: 15% 75% 10% ;
  align-items:center;
  border-bottom: 1px solid #4b4a4a;
}

.logo {
  grid-column-start: 2;
  grid-row-start: 1;
}

.menuLinkDiv {
  text-align: right;
  grid-column-start: 2;
  grid-row-start: 1;
  a:hover,
  a:link,
  a:visited,
  a:active {
    font-family: Comfortaa, sans-serif;
    white-space:nowrap;
    color: #ffffff;
    transition: color 0.5s;
    text-decoration: none;
    font-size: 0.95rem;
  }

  .link {
    padding: 1vw;
  }

}

