.logo {
  width: 70px;
  grid-column-start: 2;
  grid-row-start: 1;
}

.menuNavigationDiv {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) 100px minmax(max-content , 900px)  minmax(100px, 1fr);
  align-items: center;
  border-bottom: 1px solid #4b4a4a;
}

.menuLinkDiv {
  text-align: right;
  grid-column-start: 3;
  grid-row-start: 1;
  a:link,
  a:visited,
  a:active {
    &:hover {
      color: #b4b4b4;
    }

    &.enabledMenuItem {
      color: #ffffff;
    }

    font-family: Comfortaa, sans-serif;
    white-space: nowrap;
    color: #7d7d7d;
    text-decoration: none;
    font-size: 0.95rem;
  }

  .link {
    padding-left: 1vw;
  }

}
