.pp-wrapper {
  grid-column-start: 2;
  margin: 50px 0;
  color: white;
  font-family: Comfortaa, sans-serif;
  font-size: 20px;

  ul {
    li {
      margin-bottom: 0;
    }
  }
}

.pp-info {
  color: #7f7f7f;
  font-size: 12px;
  margin-bottom: 0;
}

.pp-header {
  font-size: 20px;
  font-family: Comfortaa, sans-serif;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.pp-link {
  color: #19a0ff;
}
