.email {
  color: #19a0ff;
}

.footerGrid {
  border-top: solid 1px #333333;
  display: grid;
  grid-template-columns: minmax(30px, 1fr) minmax(0, 1000px) minmax(30px, 1fr);
  .footerDiv {
    grid-column-start: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10vh 0 10vh 0;

    .footerLogo {
      width: 70px;
      min-width: 30px;
      align-self: center;
    }

    .footerSection {
      align-self: self-start;
      text-align: right;

      .sectionTitle {
        font-family: "Bebas Neue", sans-serif;
        font-size: 1.3rem;
        color: #ffffff;
        border-right: 1px solid #ffffff;
        padding-right: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
      }

      .sectionRow {
        a,
        a:link,
        a:visited,
        a:active {
          color: #ffffff;
          pointer-events: visible;
          cursor: pointer;
          text-decoration: none;
        }
        a:hover {
          color: #7d7d7d;
        }
        padding-top: 5px;
        padding-bottom: 5px;
        color: #ffffff;
        font-family: "Comfortaa", sans-serif;
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .footerGrid {
    .footerLogo {
      display: none;
    }
    .footerDiv {
      padding: 5vh 0 5vh 0;
      flex-direction: column;
      .footerSection {
        padding-top: 3vh;
        .sectionTitle {
          padding-left: 10px;
          border-left: 1px solid #ffffff;
          border-right: none;
        }
        align-self: self-start;
        text-align: left;
      }
    }
  }
}
