{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-unused-vars": "warn",
    "no-console": "warn"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
