.landing {
    margin-right: 2vh;
    margin-left: 2vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menuHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.leftPlaceholder {
    flex: 1;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sloganTitle {
    letter-spacing: 1.05pt;
    text-align: center;
    font-family: Comfortaa, sans-serif;
    font-size: calc(1.6rem + 1.8vw);
    font-weight: bold;
    line-height: 1.2;
    color: #ffffff;
    word-break: break-word;
}

.sloganDesc {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
    text-align: center;
    font-family: Comfortaa, sans-serif;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0.8px;
    color: #aaaaaa;
}

.logoBurger {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.softupLogo {
}

.burgerLogo {
    color: #19a0ff;
}

.arrow {
    max-width: 45px;
    overflow: hidden;
}
