.bodyTitleDiv {
  align-items: center;
  font-family: Comfortaa, sans-serif;
  font-size: 3rem;
  display: grid;
  grid-template-columns: 15% 85%;
  height: 25vh;
  .title {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #19a0ff;
    grid-column-start: 2;
  }

}

@mixin not-last-child($selector) {
  & #{$selector}:not(:last-child) {
    @content;
  }
}

.tabDiv {
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-top: 3px solid #19a0ff;
  font-family: Comfortaa, sans-serif;
  .tabName:hover {
    background-color: #19a0ff;
    color: #000000;
    cursor: pointer;
  }
  @include not-last-child('div') {
    border-right: 5px solid #0f0f0f;
  }
  .tabName {
    font-size: 1.5rem;
    word-spacing: 100vw;
    padding-right: 10px;
    word-break: break-all;
    text-align: right;
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height: 20vh;
    color: #ffffff;

  }
}
