.quickFactsContainer {
  margin-top: 5vw;
  grid-column-start: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  align-items: center;
  justify-content: center;
}

.itemContainer {
  padding-top: calc(2vw);
  padding-bottom: calc(2vw);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    width: 150px;
    padding: 10px;
    color: #7d7d7d;
    font-family: Bebas Neue, sans-serif;
  }
  .content {
    border-left: 1px solid #19a0ff;
    color: #ffffff;
    padding-left: 2vw;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 16px;
    .description {
      font-size: 50px;
      line-height: 50px;
    }
  }
}

@media (max-width: 768px) {
  .quickFactsContainer {
    grid-template-columns: repeat(auto-fit, 250px);
  }
  .itemContainer {
    padding-top: 4vh;
    .title {
      width: 100px;
      padding: 5px;
    }
  }
}
