@font-face {
  font-family: "Caviar";
  src: url("../../fonts/caviar_dreams/CaviarDreams.ttf");
}

.process-title {
  font-family: Comfortaa, sans-serif;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #19a0ff;
  text-align: center;
  margin-top: 10px;
}

.process-hr {
  border-top: solid 1px #333333;
  margin-bottom: 50px;
}

.process-wrapper {
  grid-column-start: 2;

  .process {
    position: relative;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;

    .process-center-line {
      position: absolute;
      width: 3px;
      height: 100%;
      top: 0;
      left: 50%;
      margin-left: -2px;
      background: #19a0ff;
    }
  }

  .article {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    // padding-top: 67px;

    .left {
      justify-content: flex-start;
    }

    .right {
      justify-content: flex-end;
    }

    .title {
      height: 120px;
      display: flex;
      align-items: center;
      max-width: 42%;
      width: 100%;
      padding: 0 25px;

      p {
        font-size: 30px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #ffffff;
        font-family: Comfortaa, sans-serif;
        margin-bottom: 0;
      }
    }

    .description {
      align-items: center;
      max-width: 42%;
      width: 100%;
      padding: 0 25px;
      // height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      p {
        font-size: 12px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #7f7f7f;
        font-family: Comfortaa, sans-serif;
        text-align: left;
        margin-bottom: 0;
      }
    }

    .outer-circle {
      position: absolute;
      left: 50%;
      height: 120px;
      width: 120px;
      margin-left: -60px;
      border-radius: 50%;
      border: solid 2px #173b57;
      background-color: #173b57;

      .inner-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 106px;
        width: 106px;
        border: solid 2px #1b6eac;
        background-color: #1b6eac;
        border-radius: 50%;
        margin: -53px 0px 0px -53px;

        .second-inner-circle {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 90px;
          width: 90px;
          border: solid 2px #19a0ff;
          background-color: #19a0ff;
          border-radius: 50%;
          margin: -45px 0px 0px -45px;

          .third-inner-circle {
            position: absolute;
            background: #0f0f0f;
            border-radius: 50%;
            height: 84px;
            width: 84px;
            top: 50%;
            left: 50%;
            margin: -42px 0px 0px -42px;
            display: flex;
            justify-content: center;
            align-items: center;

            .process-number {
              font-family: Caviar, sans-serif;
              font-weight: normal;
              font-stretch: normal;
              line-height: 1.2;
              letter-spacing: normal;
              font-size: 45px;
              line-height: 40px;
              text-align: left;
              color: #333333;
            }
          }
        }
      }
    }
  }
}

// Mobile Design
@media (max-width: 768px) {
  .process-title {
    color: #7f7f7f;
  }

  .process-wrapper {
    .process {
      .process-center-line {
        display: none;
      }
    }

    .article {
      padding-bottom: 60px;
      display: flex;
      flex-flow: column;

      .title {
        height: auto;
        margin-top: 20px;
        width: 100%;
        max-width: 100%;
        display: block;
        order: 2;
      }

      .right {
        text-align: center;
      }

      .left {
        text-align: center;
      }

      .description {
        height: auto;
        width: 100%;
        max-width: 100%;
        order: 3;

        p {
          text-align: center;
        }
      }

      .outer-circle {
        position: relative;
        order: 1;
      }
    }
  }
}
