.presentationWrapperMd {
  grid-column-start: 2;
}

.presentationItemsMd {
  display: grid;
  grid-template-columns: repeat(2, [row-start] minmax(0, 500px) [row-end]);
  grid-auto-rows: minmax(0, 350px);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center;
  align-content: center;
  padding-bottom: 10vh;

  .itemWrapperMd {
    color: #ffffff;
    font-family: Comfortaa, sans-serif;
    background-color: #1e1e1e;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    .itemContent {
      .companyName {
        font-weight: bold;
        padding-bottom: 5px;
        text-transform: uppercase;
        font-size: 1.2em;
      }
      .separatorMd {
        border-top: 1px solid #7d7d7d;
        max-width: 100px;
        margin-top: 5px;
        margin-bottom: 15px;
      }
      .mdContent {
        line-height: 17px;
        font-size: 13px;
        color: #7d7d7d;
        max-width: 400px;
        ul {
          list-style-type: none;
        }

        ul li:before {
          content: '\002D';
          position: absolute;
          margin-left: -10px;
        }
        ul {
          margin: 0 0 1rem 0.6rem;
        }
        li {
          margin-bottom: 0;
        }
      }
    }

    &:hover {
      background-color: #19a0ff;
      .itemContent {
        div {
          -webkit-filter: invert(1);
          filter: invert(1);
          border-color: #ffffff;
          color: #ffffff;
          ul {
            li {
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  a:hover,
  a:link,
  a:visited,
  a:active {
    font-size: 1.2rem;
    text-decoration: none;
  }

}

@media (max-width: 768px) {
  .presentationWrapperMd {
    grid-template-columns: minmax(20px, 1fr) minmax(0, 1000px) minmax(20px, 1fr);
    grid-auto-rows: minmax(max-content, 350px);
    padding-bottom: 2vh;
  }

  .presentationItemsMd {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
  }
}
