.contactUsDiv {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: max-content;
  border-top: solid 1px #333333;
}

.question {
  color: #7d7d7d;
  padding: 60px 0;
  font-weight: 300;
  font-size: calc(1.6rem + 1vw);
  line-height: calc(1.5rem + 1.5vw);
  font-family: "Comfortaa", sans-serif;
  text-align: center;
  .whiteProject {
    font-weight: bold;
    color: #ffffff;
  }
}

.postingIndicator {
  z-index: 4;
  border: 1px solid #19a0ff;
  font-family: "Comfortaa", sans-serif;
  position: absolute;
  background-color: #0f0f0f;
  color: #ffffff;
  margin-top: 200px;
  padding: 60px;
}

.submitForm {
  border-left: solid 5px #333333;
  border-right: solid 5px #333333;
  border-top: solid 5px #333333;
}

.submitButton {
  max-width: 80px;
  min-width: 80px;
  position: absolute;
  transform: translate(162px, 150px);
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

.emailForm {
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    transition-delay: 3600s;
  }
  color: #ffffff;
  font-size: 0.9rem;
  font-family: Comfortaa, sans-serif;
  align-items: center;
  margin-bottom: 0;
  padding: 20px 50px 50px;
  display: flex;
  flex-direction: column;
}

.inputField {
  padding-top: 40px;
  &:focus,
  &focus-active {
    outline: none;
  }
  width: 200px;
  border: none;
  margin: 10px;
  color: #ffffff;
  border-bottom: 1px solid #333333;
  background-color: #0f0f0f;
}

@media (min-width: 678px) {
  .emailForm {
    padding: 20px 100px 50px;
  }
  .inputField {
    &:focus,
    &focus-active {
      outline: none;
    }
    width: 300px;
  }
  .submitButton {
    max-width: 80px;
    min-width: 80px;
    position: absolute;
    overflow: hidden;
    transform: translate(262px, 150px);
    &:hover {
      cursor: pointer;
    }
  }
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .submitButton {
    max-width: 40px;
    min-width: 40px;
  }
}
