.contactUsDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: max-content;
  border-top: solid 1px #333333;
}

.question {
  color: #7d7d7d;
  padding: 50px;
  font-weight: 300;
  font-size: calc(1rem + 1vw);
  line-height: calc(1.5rem + 1.5vw);
  font-family: "Comfortaa", sans-serif;
  text-align: center;
  .whiteProject {
    font-weight: bold;
    color: #ffffff;
  }
}

.submitButton {
  max-width: 80px;
  min-width: 80px;
  position: absolute;
  transform: translate(132px, 150px);
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

.emailForm {
  font-family: Comfortaa, sans-serif;
  border-left: solid 5px #333333;
  border-right: solid 5px #333333;
  border-top: solid 5px #333333;
  align-items: center;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.inputField {
  padding-top: 40px;
  &:focus,
  &focus-active {
    outline: none;
  }
  width: 200px;
  border: none;
  margin: 10px;
  color: #ffffff;
  border-bottom: 1px solid #333333;
  background-color: #0f0f0f;
}

@media (min-width: 678px) {
  .inputField {
    width: 500px;
  }
  .submitButton {
    max-width: 80px;
    min-width: 80px;
    position: absolute;
    overflow: hidden;
    transform: translate(282px, 150px);
    &:hover {
      cursor: pointer;
    }
  }
}
