@font-face {
  font-family: "Caviar";
  src: url("../../fonts/caviar_dreams/CaviarDreams.ttf");
}

.normalParagraphDiv {
  padding-top: 10vh;
  grid-column-start: 2;

  .paragraph {
    padding-top: 2vh;
  }

  .titleAndContent {
    font-family: Comfortaa, sans-serif;
    display: flex;
    flex-direction: column;
    transform: translate(0px, -40px);
    background-color: #0f0f0f;
    padding: 10px;
    max-width: calc(100% - 25px);
  }

  .paragraphTitle {
    font-size: 1.4rem;
    font-weight: bold;
    color: #19a0ff;
  }

  .paragraphContent {
    padding-top: 1vh;
    font-size: 14px;
    color: #c2c2c2;

    strong {
      font-weight: bolder;
      color: #e6e6e6;
    }
  }
}

@media (max-width: 768px) {
  .paragraph {
    .paragraphNumber {
      text-align: center;
    }

    .titleAndContent {
      max-width: none;
      transform: translate(0, -35px);

      .paragraphTitle {
        text-align: center;
      }

      .paragraphContent {
        text-align: left;
      }
    }
  }
}
