html {
    background-color: #0f0f0f;
}

.slogan-title {
    width: calc(100%);
    text-align: center;
    margin-top: 10rem;
    font-family: Comfortaa, sans-serif;
    font-size: calc(1.5rem + 1.5vw);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    #letter-spacing: 0.2rem;
    color: #ffffff;
}

.slogan-desc {
    text-align: center;
    width: calc(90%);
    font-family: Comfortaa, sans-serif;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0.8px;
    color: #aaaaaa;
}

.icon-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-style {
    height: calc(5rem + 1.5vw);
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slogan {
    width: calc(18rem + 18vw);
    display: flex;
    flex-direction: column;
    align-items: center;
}
