.presentationWrapper {
  grid-column-start: 2;
}

.presentationItemsDiv {
  a:hover,
  a:link,
  a:visited,
  a:active {
    font-size: 1.2rem;
    text-decoration: none;
  }
  display: grid;
  grid-template-columns: repeat(2, [row-start] minmax(0, 500px) [row-end]);
  grid-auto-rows: minmax(0, 350px);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center;
  align-content: center;
  padding-bottom: 10vh;
}

.presentationItem {
  color: #ffffff;
  font-family: Comfortaa, sans-serif;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .companyLogo {
    min-width: 100px;
  }
  &:hover {
    .companyName,
    .companyDescription {
      color: #000000;
    }
    .companyLogo {
      -webkit-filter: invert(1);
      filter: invert(1);
    }
    .companySeparator {
      background-color: #000000;
    }
    cursor: pointer;
    background-color: #19a0ff;
  }

  .companySeparator {
    margin: 8px;
    width: 100px;
    height: 1px;
    background-color: #7f7f7f;
  }

  .companyName {
    padding-bottom: 5px;
    color: #7f7f7f;
    text-transform: uppercase;
  }

  .companyDescription {
    text-align: center;
    font-size: 12px;
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .presentationWrapper {
    grid-template-columns: minmax(20px, 1fr) minmax(0, 1000px) minmax(20px, 1fr);
    grid-auto-rows: minmax(max-content, 350px);
    padding-bottom: 2vh;
  }

  .presentationItemsDiv {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
  }
}
