@mixin not-last-child($selector) {
  & #{$selector}:not(:last-child) {
    @content;
  }
}

@mixin even($selector) {
  & #{$selector}:nth-child(even) {
    @content;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pageTemplate {
  min-height: 60vh;
}

.tabContent {
  animation: fadeIn 1s;
  display: grid;
  padding-top: 5vh;
  padding-bottom: 5vh;
  grid-column-start: 2;
}

.tabTitles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  border-top: 4px solid #19a0ff;
  font-family: Comfortaa, sans-serif;
  .tabName:hover,
  .enabledTitle {
    background-color: #19a0ff;
    color: #000000;
    cursor: pointer;
  }
}

.tabName {
  background-color: #1e1e1e;
  line-height: calc(1rem + 1vw);
  padding-right: 10px;
  text-align: right;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #ffffff;
}

@media (min-width: 768px) {
  .tabName {
    font-size: calc(0.8vw + 0.8rem);
    height: 25vh;
  }
}

@media (max-width: 768px) {
  .tabTitles {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }

  .tabName {
    font-size: 1.3rem;
    line-height: 1.5rem;
    padding-left: 5px;
    height: 18vh;
  }
}
