@font-face {
  font-family: "Caviar";
  src: url("../../fonts/caviar_dreams/CaviarDreams.ttf");
}

.process-hr {
  margin-bottom: 50px;
}

.process-wrapper {
  padding-top: calc(20px + 4vh);
  grid-column-start: 2;
}

.process {
  position: relative;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

.process-center-line {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -2px;
  background: #19a0ff;
}

.process-article {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-bottom: 40px;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.process-article-description {
  align-items: center;
  width: 100%;
  padding: 14px 25px;
  display: flex;
  justify-content: flex-start;

  p {
    max-width: 476.5px;
    font-size: 16px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #ffffff;
    font-family: Comfortaa, sans-serif;
    text-align: center;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.outer-circle {
  position: relative;
  left: 50%;
  height: 160px;
  width: 160px;
  margin-left: -80px;
  border-radius: 50%;
  border: solid 2px #173b57;
  background-color: #173b57;
}

.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 136px;
  width: 136px;
  border: solid 2px #1b6eac;
  background-color: #1b6eac;
  border-radius: 50%;
  margin: -68px 0px 0px -68px;
}

.second-inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 116px;
  width: 116px;
  border: solid 2px #19a0ff;
  background-color: #19a0ff;
  border-radius: 50%;
  margin: -58px 0px 0px -58px;
}

.third-inner-circle {
  position: absolute;
  background: #0f0f0f;
  border-radius: 50%;
  height: 110px;
  width: 110px;
  top: 50%;
  left: 50%;
  margin: -55px 0px 0px -55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.process-number {
  font-family: Comfortaa, sans-serif;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 20px;
  line-height: 24px;
  color: #19a0ff;
}

// Mobile Design
@media (max-width: 768px) {
  .process {
    .process-center-line {
      display: none;
    }
  }

  .right {
    text-align: center;
  }

  .left {
    text-align: center;
  }

  .process-article-description {
    height: auto;
    order: 3;

    p {
      font-size: 16px;
    }
  }

  .process-article {
    padding-bottom: 60px;
  }

  .outer-circle {
    order: 1;
    height: 120px;
    width: 120px;
    margin-left: -60px;
  }

  .inner-circle {
    height: 100px;
    width: 100px;
    margin: -50px 0px 0px -50px;
  }

  .second-inner-circle {
    height: 84px;
    width: 84px;
    margin: -42px 0px 0px -42px;
  }

  .third-inner-circle {
    height: 78px;
    width: 78px;
    margin: -39px 0px 0px -39px;
  }

  .process-number {
    color: white;
    font-weight: bold;
    font-size: 15px;
  }
}
