.clientDividerDiv {
  align-items: center;
  margin-top: 5vw;
  grid-column-start: 2;
  .client {
    color: #7d7d7d;
    font-family: "Bebas Neue", sans-serif;
  }
  .separator {
    border-top: 1px solid #19a0ff;
    width: 100%;
    padding-bottom: 5px;
  }
}
