.paragraphAndImageDiv {
  padding-top: 10px;
  padding-bottom: 5vw;
  grid-column-start: 2;
  color: #ffffff;
  font-family: "Comfortaa", sans-serif;
  display: flex;

  &.right {
    flex-direction: row-reverse;
  }

  &.left {
    flex-direction: row;
  }

  .title {
    padding-top: 30px;
    padding-bottom: 10px;
    margin-right: 10px;
    font-size: calc(1rem + 1vw);
    line-height: calc(1.2rem + 1vw);
    font-weight: bold;
  }

  .content {
    font-size: 15px;
    .paragraph {
      padding-bottom: 10px;
    }
  }

  .pImage {
    padding-top: 20px;
    max-height: 100%;
    min-width: 60%;
  }

  .pContentLeft {
    padding-left: 5vh;
  }

  .pContentRight {
    padding-right: 5vh;
  }
}

@media (max-width: 768px) {
  .paragraphAndImageDiv {
    .title,
    .content {
      text-align: left;
    }

    &.right {
      flex-direction: column;
    }

    &.left {
      flex-direction: column;
    }
  }

  .pImage {
    align-self: center;
    padding: 10px;
  }
}
