.headerImageDiv {
  max-height: 700px;
  // display: grid;
  //grid-template-columns:  minmax(50px, 1fr) minmax(0, 1000px) minmax(50px, 1fr);
}

.headerImage {
  max-height: 700px;
  //grid-column-start: 2;
}

@media (max-width: 768px) {
  .headerImageDiv {
    max-height: 600px;
  }
  
  .headerImage {
    max-height: 600px;
  }
}
