.langButton {
    margin: 0.2vh;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    font-family: BebasNeue, sans-serif;
    color: #ffffff;
    cursor: pointer;
}

.langMenu {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
}
