@mixin last-child($selector) {
  & #{$selector}:last-child {
    @content;
  }
}

.accordionMenuContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .initialContainer:hover,
  .disabledContainer:hover {
    cursor: pointer;
    .number {
      color: #19a0ff;
    }
  }
}

@media (max-width: 767px) {
  .accordionMenuContainer {
    display: none;
  }
}

.accordionContainer {
  padding-left: 1px;
  padding-right: 1px;
  transition: 0.8s;
  &.uninitialized {
    // margin-right: 15vw;
    // margin-left: 15vw;
  }
  flex: 1;
  display: flex;
  flex-direction: row;
  @include last-child('.slideContainer') {
    border-right: 1px solid #333333;
  }
}

.slideContainer {
  padding: 15px;
  border-left: 1px solid #333333;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  display: grid;
  grid-template-columns: 10% 80% 10%;

  .contentAndTitle {
    font-family: Comfortaa, sans-serif;
    grid-row-start: 1;
    grid-column-start: 2;
    padding-top: 100px;
  }

  &.inactive {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
      .contentAndTitle, div {
        color: #19a0ff;
        .title {
          &.inactive {
            a {
              color: #19a0ff;
            }
          }
        }
      }
    }
  }

  .title {
    color: #19a0ff;
    font-family: Comfortaa, sans-serif;
    font-size: 2.2rem;
    white-space: nowrap;
    padding-bottom: 1vw;

    a:link,
    a:visited,
    a:hover,
    a:active {
      color: #19a0ff;
      pointer-events: visible;
      cursor: pointer;
      text-decoration: none;
    }

    &.inactive {
      a:hover,
      a:link,
      a:visited,
      a:active {
        font-size: 1.2rem;
        text-decoration: none;
        white-space: nowrap;
        color: #7d7d7d;
        pointer-events: none;
        cursor: default;
      }
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }
  }

  &.uninitialized {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    .number {
      grid-row-start: 1;
      grid-column-start: 1;
    }
    .contentAndTitle {
      grid-row-start: 2;
      grid-column-start: 1;
      .title {
        text-align: right;
        transform: none;
        writing-mode: initial;
      }
    }
  }

  .slideContent {
    animation: fadeIn 1s;
    padding-right: 10vw;
    color: #7f7f7f;
  }
}

.number {
  font-family: "Caviar", sans-serif;
  font-size: 20px;
  min-width: 30px;
  line-height: 1.2;
  grid-column-start: 3;
  text-align: right;
  color: #ffffff;
}
