.langButton {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    font-family: Bebas Neue, sans-serif;
}

.langMenu {
    margin-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
