@font-face {
  font-family: "Caviar";
  src: url("../../fonts/caviar_dreams/CaviarDreams.ttf");
}

.paragraph-header {
  font-family: Comfortaa, sans-serif;
  margin: 50px 0 30px 0;
  grid-column-start: 2;
  font-size: 1.8rem;
  font-weight: bold;
  color: #19a0ff;
}

.paragraphDiv {
  grid-column-start: 2;

  .paragraph {
    padding-top: 2vh;
  }

  .titleAndContent {
    font-family: Comfortaa, sans-serif;
    display: flex;
    flex-direction: column;
    transform: translate(25px, -40px);
    background-color: #0f0f0f;
    padding: 10px;
    max-width: calc(100% - 25px);
  }

  .paragraphNumber {
    font-family: Caviar, sans-serif;
    font-size: 5rem;
    line-height: 1.2;
    color: #ffffff;
  }

  .paragraphTitle {
    font-size: 1.4rem;
    font-weight: bold;
    color: #19a0ff;
  }

  .paragraphContent {
    font-size: 16px;
    color: #c2c2c2;
    padding-top: 1vh;

    strong {
      font-weight: bolder;
      color: #e6e6e6;
    }
  }
}

@media (max-width: 768px) {
  .paragraph {
    .paragraphNumber {
      text-align: center;
    }

    .titleAndContent {
      max-width: none;
      transform: translate(0, -35px);

      .paragraphTitle {
        text-align: center;
      }

      .paragraphContent {
        text-align: center;
      }
    }
  }
}
