@font-face {
  font-family: "Caviar";
  src: url('../../fonts/caviar_dreams/CaviarDreams.ttf');
}

.paragraphDiv {

  .paragraph {
    padding-top: 4vh;
  }

  .titleAndContent {
    font-family: Comfortaa, sans-serif;
    display: flex;
    flex-direction: column;
    transform: translate(25px, -40px);
    background-color: #0f0f0f;
    padding: 10px;
    max-width: calc(100% - 25px);
  }

  .paragraphNumber {
    font-family: Caviar, sans-serif;
    font-size: 5rem;
    line-height: 1.2;
    color: #ffffff;
  }

  .paragraphTitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: #19a0ff;
  }

  .paragraphContent {
    font-size: 16px;
    color: #7f7f7f;
  }
}
