.bodyTitleDiv {
  align-items: center;
  font-family: Comfortaa, sans-serif;
  font-size: 2rem;
  display: grid;
  grid-template-columns: minmax(30px, 1fr) minmax(max-content, 1000px) minmax(30px, 1fr);
  height: 15vh;
  padding-bottom: 2vh;
  .title {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #19a0ff;
    grid-column-start: 2;
  }
  border-bottom: solid 1px #333333;
}

.pageTemplate {
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.8s;
  padding-bottom: 10vh;
}

@media (min-width: 768px) {
  .bodyTitleDiv {
    height: 25vh;
    font-size: 3rem;
  }
}
