.email {
  color: #19a0ff;
}

.footerGrid {
  border-top: solid 1px #333333;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  .footerDiv {
    grid-column-start: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10vh 0 10vh 0;

    .footerLogo {
      width: 70px;
      min-width: 30px;
      align-self: center;
    }

    .footerSection {
      align-self: self-start;
      text-align: right;

      .sectionTitle {
        font-family: "Bebas Neue", sans-serif;
        font-size: 1.3rem;
        color: #ffffff;
        border-right: 1px solid #ffffff;
        padding-right: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
      }

      .sectionRow {
        padding-top: 5px;
        padding-bottom: 5px;
        color: #ffffff;
        font-family: 'Comfortaa', sans-serif;
        font-size: 0.8rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .footerGrid {
    border-top: solid 1px #333333;
    display: grid;
    grid-template-columns: 15% 70% 15%;
  }
}
