@font-face {
  font-family: "LightFont";
  src: url("../../fonts/light_font/TheLightFont.ttf");
}

.companyNumContainer {
  border-top: 1px solid #333333;
  display: flex;
  flex-direction: column;
}

.companyNumbers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.benchmarkGroup {
  margin-top: 6vh;
  margin-bottom: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.benchmarkCategory {
  color: #4b4a4a;
  font-family: Comfortaa, sans-serif;
  font-size: calc(1vw + 1.2vh);
  border-bottom: 1px solid #19a0ff;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.benchmarkNumber {
  margin-left: -15px;
  font-family: LightFont, sans-serif;
  font-size: calc(4vw + 1.8vh);
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #dddddd;
}

.benchmarkNumber:before {
  content: "\002B";
  font-size: calc(3.5vw + 2.2vh);
  margin-right: 4px;
}

@media (max-width: 768px) {
  .benchmarkGroup {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
}
