.accordionMenuContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    a:hover,
    a:link,
    a:visited,
    a:active {
        transition: color 0.5s;
        text-decoration: none;
        color: #7d7d7d;
        pointer-events: none;
        cursor: default;
    }
    .initialContainer:hover,
    .disabledContainer:hover {
        cursor: pointer;
        a {
            color: #19a0ff;
        }
    }
    .enabledTitle {
        font-family: Comfortaa, sans-serif;
        font-size: calc(2vw + 1rem);
        padding-bottom: 1vw;
        a:link,
        a:visited,
        a:hover,
        a:active {
            color: #19a0ff;
            pointer-events: visible;
            cursor: pointer;
        }
    }
}

.initialTitle {
    font-family: Comfortaa, sans-serif;
    font-size: 1.6em;
    padding-bottom: 1vh;
}

.disabledContainer {
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* transition: flex .5s; */
    border: 1px solid #4b4a4a;
}

.disabledContent {
    color: transparent;
    position: absolute; top: -9999px; left: -9999px;
}

.enabledContent {
    transition: color .5s ease-in-out;
    word-wrap: break-spaces;
    font-family: Comfortaa, sans-serif;
    color: #b4b4b4;

}

.enabledContentAndTitle {
    padding: 1vw 5vw 5vw;
    display: flex;
    flex-direction: column;
    align-self: center;
}


/* mobile */

@media (max-width: 600px) {
    .accordionContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .disabledTitle {
        font-size: 1.5rem;
        font-family: Comfortaa, sans-serif;
    }

    .enabledContainer {
        padding: 3vw;
        border: 1px solid #4b4a4a;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .initialContainer {
        padding: 1.5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* transition: flex .5s; */
        border: 1px solid #4b4a4a;
    }

    .number {
        color: #ffffff;
        font-size: 1.5rem;
        font-family: Comfortaa, sans-serif;
        text-align: right;
    }
}

/* desktop */

@media (min-width: 601px) {
    .accordionContainer {
        flex: 1;
        display: flex;
        flex-direction: row;
    }

    .disabledTitle {
        font-size: 1.6rem;
        font-family: Comfortaa, sans-serif;
        color: #7d7d7d;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        transition: font-size 0.3s;
    }

    .bottom {
        flex: 1;
    }

    .enabledContainer {
        padding: 1.5vw;
        height: 100%;
        border: 1px solid #4b4a4a;
        display: flex;
        justify-content: space-between;
        flex: 1;
        flex-direction: column;
    }

    .initialContainer {
        padding: 1.5vw;
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #4b4a4a;
    }

    .number {
        flex: 1;
        color: #ffffff;
        font-size: 1.5rem;
        font-family: Comfortaa, sans-serif;
        text-align: right;
    }
}
